body {
  color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: right;
  margin-bottom: 20px;
}

.site-brand{
  padding: 0;
  margin: 0;
  float: left !important;
}

.menu-link {
  text-decoration: none;
  color: #09d3ac;
}

.home-list-link {
   list-style: none;
  display: inline-block;  
  padding: 20px; 
  
}

.menu-list-link {
  list-style: none;
  display: inline-block;  
  padding: 20px; 
}

.menu-link:hover {
  list-style: none;
  color: #09d3ac;
  text-decoration: underline;
}

.menu-link:visited {
  list-style: none;
  color: #09d3ac;
  text-decoration: none;
}

.regular-link {
  text-decoration: none;
  color: #09d3ac;
}

.regular-link:hover {
  text-decoration: underline;
   color: #09d3ac;
}

.blog-post-form {
  padding: 30px;
}

.post-submit-button {
  background-color: #09d3ac !important;
  border-color: white !important;
}

.post-submit-button:hover {
  background-color: #05ecbe !important;
}